{% extends 'base/main.html' %}
{% load base_tags %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

<div class="header-bar">
    <div>
        <h1>Hola {{request.user|username}}</h1>
    </div>

    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">Cerrar sesion</a> {% else %}
    <a href="{% url 'login' %}">Iniciar sesion</a> {% endif %}
</div>

<div id="search-add-wrapper">
    <form method="GET" style="display: flex;">
        <input type='text' name='search-area' placeholder="Busca tu gasto" value="{{search_input}}">
        <input class="button" type="submit" value='Search'>
    </form>
    {% if expenses|length > 0 %}
    <a id="add-link" href="{% url 'expense-create' %}">&#x2b;</a>
    {% endif %}
</div>


<div class="center">
<h1>Mis gastos</h1>
</div>
<a href="{% url 'expense-create' %}">Agregar gasto</a>

<div id="tasklist" class="task-items-wrapper">
    {% for expense in expenses %}
    <div class="task-wrapper" data-position="{{expense.pk}}">
        <div class="task-title">
            <a href="{% url 'expense' expense.id %}">{{expense.title}}  {{ expense.final_amount }} {{ expense.final_currency }}</a>
        </div>
        <div class="task-controls">
            <a href="{% url 'expense-update' expense.id %}">Editar</a>
        <a class="delete-link" href="{% url 'expense-delete' expense.id %}">&nbsp;&nbsp;&#215;&nbsp;</a>
        </div>
    </div>

    {% empty %}
    <div style="text-align: center; padding-bottom: 10px; line-height: 1em;">
        <h3>No hay gastos registrados</h3>
        <h3>Registra un <a style="text-decoration: none; color: #e53935;" href="{% url 'expense-create' %}">nuevo gasto</a> ! </h3>
    </div>
    {% endfor %}
</div>

<script>
    var ExpenseList = document.getElementById("tasklist");
    var positionInput = document.getElementById("positionInput");

    let sortable = Sortable.create(ExpenseList, {
        ghostClass: 'dropArea',
        chosenClass: 'selectedTask',

    });

</script>

{% endblock content %}